name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: kav-rma
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata
          
          # Isocalendar plugin
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          # Languages plugin
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          
          # Activity plugin
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_limit: 5
          
          # Notable contributions
          plugin_notable: yes
          plugin_notable_repositories: yes
